
  <%= link_to entry_path(entry), class: "nav-link", data: {turbo_frame: "main-dashboard"}, id: dom_id(entry) do %>
    <div class="d-flex align-items-center">
      <div class="entry-favicon">
        <%= image_tag("https://www.google.com/s2/favicons?domain=#{entry.url}&sz=32", alt: entry.name) %>
      </div>
      <%= entry.name %>
    </div>
  <% end %>
