<%= render_flash_messages %>
<%= turbo_stream.remove(@entry) %>
<%= turbo_stream.update 'main-dashboard' do %>
  <% if current_user.entries.any? %>
    <%= render partial: 'entries/main', locals: { entry: current_user.entries.order(:name).first } %>
  <% else %>
    <h1>No entries available</h1>
  <% end %>

<% end %>